@{
    ViewBag.Title = "Home Page";
}


@section Scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/knockout-2.2.0.js")"></script>
    <script type="text/javascript">

        function AppViewModel() {
            var self = this;

            self.games = ko.observableArray();
            self.votes = ko.observableArray();


            function GameViewModel(root, game) {
                var self = this;
                self.ID = game.gameID;
                self.Title = game.gameTitle;
                self.Picture = game.gamePic;
                self.Quote = game.gameQuote;


            }

            function VoteViewModel(root, vote) {

                var self = this;
                self.VoteID = vote.VoteID;
                self.gameID = vote.gameID;
                self.win = vote.observable(0);
            

            self.votePostItem = function() {
                var vtn = self.win();
                if (vtn == 0) {
                    root.cart.push(self);

                }
                self.win(vtn + 1);
            };

            }


            $.getJSON("/api/games", function(games) {
                $.each(games, function(index, game) {
                    self.games.push(new GameViewModel(self, game));
                })
            });

            $.getJSON("/api/votes", function(votes) {
                $.each(votes, function(index, vote) {
                    self.votes.push(new VoteViewModel(self, vote));
                })
            });


        }

        $(document).ready(function() {
            ko.applyBindings(new AppViewModel());
        });
    </script>
    

}

<div class="content">
    <!-- List of games -->
    <div class="float-left">
        <h1>Game</h1>
        <ul id="games" data-bind="foreach: games"></ul>
        <li>
            <div>
                <span data-bind="text: Title"></span>
                <span data-bind="text: Picture"></span>
                <span data-bind="text: Quote"></span>
            </div>
            <div>
                <button data-bind="click: votePostItem">Vote!</button>
            </div>
        </li>
    </div>
    <div id="cart" class="float-right" data-bind="visible: cart().length > 0">
        <h1>Voted</h1>
        <table class="details ui-widget-content">
            <thead>
                <tr><td>Game</td><td>Picture</td><td>Quote</td></tr>
            </thead>
            <tbody data-bind="foreach: cart">
                <tr>
                    <td><span data-bind="text: $data.Title"></span></td>
                    <td><span data-bind="text: $data.Picture"></span></td>
                    <td><span data-bind="text: $data.Quote"></span></td>
                    <td><span data-bind="text: $data.win()"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
