@{
    ViewBag.Title = "Home Page";
}


@section Scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/knockout-2.2.0.js")"></script>
    <script type="text/javascript">

        function AppViewModel() {
            var self = this;

            self.games = ko.observableArray();
            self.voteList = ko.observableArray();


            function GameViewModel(root, game) {
                var self = this;
                self.ID = game.gameID;
                self.Title = game.gameTitle;
                self.Picture = game.gamePic;
                self.Quote = game.gameQuote;

                self.votePostItemToList = function() {
                    root.voteList.push(self);
                };


            }

            $.getJSON("/api/games", function(games) {
                $.each(games, function(index, game) {
                    self.games.push(new GameViewModel(self, game));
                })
            });


        }

        $(document).ready(function() {
            ko.applyBindings(new AppViewModel());
        });
    </script>
    

}


<div class="content">
    <!-- List of games -->
    <div class="float-left">
        <h1>Game</h1>
        <ul id="games" data-bind="foreach: games">
        <li>
            <div>
                <span data-bind="text: Title"></span>
                <span data-bind="text: Picture"></span>
                <span data-bind="text: Quote"></span>
            </div>
            <div>
                <button data-bind="click: votePostItemToList">Vote</button>
            </div>
        </li>
        </ul>
    </div>
    <div id="voteList" class="float-right" data-bind="visible: voteList().length > 0">
        <h1>Voted</h1>
        <table class="details ui-widget-content">
            <thead>
                <tr><td>Game</td><td>Picture</td><td>Quote</td></tr>
            </thead>
            <tbody data-bind="foreach: voteList">
                <tr>
                    <td><span data-bind="text: $data.Title"></span></td>
                    <td><span data-bind="text: $data.Picture"></span></td>
                    <td><span data-bind="text: $data.Quote"></span></td>
                   @* <td><span data-bind="text: $data.win()"></span></td>*@
                </tr>
            </tbody>
        </table>
    </div>
</div>
