@model IEnumerable<MeetUs.Models.Spot>
@{
    ViewBag.Title = "Home Page";
}


<h3>Most popular Meeting Spots:</h3>
<ol>
    @foreach (var spot in Model)
    {
        <li>
            <h5>@spot.Name</h5>
            @spot.Description
        </li>
    }
</ol>
