@{
    ViewBag.Title = "Home Page";
}


<h3>Most popular Meeting Spots:</h3>
<ol>
    <li>
        <h5>First Spot</h5>
        Here is the first spot
    </li>

    <li>
        <h5>Gnarly wagon..</h5>
        Where the cool kids chill
    </li>
</ol>
